body{
    background-image:url(tiburon/background.jpg) ;
}


header{
    text-align: center;
    height: 100px;
    
}
.titulo-principal{
    font-size:45px;
    padding:30px;
    
    
}

main{
    background-color: rgb(176, 196, 222);
    width: 940px;
    margin: 0 auto;
    padding: 60px;
}

p.texto-introduccion{
    font-size:25px ;
    margin: 40px 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius:5px;
    border: 2px solid black
    
}

h2.especies{
    font-size: 25px;
}
.informacion li {
    display: inline block;
    vertical-align: top;
   
}

ul li img{
    width: 250px;
}



