body{
    background-color:#0D0D0D;
    
}


header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color:rgba(0,0,0,0.2);
    text-align: center;
}
  
#encabezado{
    padding:20px 40px;
}

#nav-bar p{
    color: aliceblue;
    display: inline-block;
    font-size:30px;
    padding-left: 25px;    
    }



.titulo-principal{
    text-align: center;
    font-size:45px;
    padding:30px;
    
    
}

main{
    background-color: #05DBF2;
    width: 940px;
    margin: 0 auto;
    padding: 60px;
}

p.texto-introduccion{
    font-size:25px ;
    margin: 40px 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius:5px;
    border: 2px solid black
    
}

h2.especies{
    
}

.informacion li{
    background-color:#0D0D0D;
    color:white;
    display: inline-block;
    width: 290px;
    padding: 5px;
    text-align: center;
    vertical-align:top;
    margin-top: 10px;
}

.informacion img{
    width: 290px;
    height: 200px;
}

.elementos-margen{
    margin-left:15px;
}
.subtitulos{
    font-size: 25px;
    font-weight: bold;
}

.informacion{
    padding-top: 40px;
}

